/* font-family: 'Baloo Chettan', cursive;
font-family: 'Roboto Condensed', sans-serif; */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #e8a87c;
  line-height: 1.5;
}

h1 {
  color: #E27D60;
  text-align: center;
  font-size: 3em;
}

h2 {
  color: #c38d9e;
  text-align: left;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Baloo Chettan', cursive;
}
